<?xml version='1.0' encoding='utf-8' standalone='yes'?>
<settings>
	<setting id='autoroulette' type='bool' default='false' label='Roulette autostart'/>
	<setting id='roulettefirst' type='bool' default='true' label='Roulette first'/>
	<setting id='order' type='select' label='35500' lvalues='35501|35502|35503|35504'/>
</settings>
